.1_75 { 
	overflow:hidden;
}
.e1_75 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:1080px;
	position:absolute;
}
.e1_76 { 
	background-color:rgba(83.91773700714111, 57.68932141363621, 88.18749949336052, 1);
	width:1920px;
	height:81px;
	position:absolute;
	left:0px;
	top:997px;
}
.e1_77 { 
	background-color:rgba(117.00000062584877, 117.00000062584877, 117.00000062584877, 1);
	width:1920px;
	height:904px;
	position:absolute;
	left:0px;
	top:93px;
}
.e1_78 { 
	background-color:rgba(0, 0, 0, 1);
	width:1920px;
	height:93px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_100 { 
	width:1144px;
	height:64px;
	position:absolute;
	left:158px;
	top:133px;
}
.e19_24 { 
	width:421px;
	height:40px;
	position:absolute;
	left:362px;
	top:0px;
}
.e15_21 { 
	width:322px;
	height:40px;
	position:absolute;
	left:-53px;
	top:0px;
}
.e34_582 { 
	width:978px;
	height:40px;
	position:absolute;
	left:168px;
	top:200px;
}
.e13_16 { 
	width:322px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
}
.e15_20 { 
	width:464px;
	height:261px;
	position:absolute;
	left:-98px;
	top:55px;
	background-image:url(images/gameimg_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e19_28 { 
	color:rgba(255, 255, 255, 1);
	width:382px;
	height:225px;
	position:absolute;
	left:-57px;
	top:365px;
	font-family:Karma;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e1_80 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:322px;
	height:40px;
	position:absolute;
	left:-27px;
	top:0px;
	font-family:Inter;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
.e19_25 { 
	width:354px;
	height:40px;
	position:absolute;
	left:624px;
	top:0px;
}
.e13_18 { 
	width:354px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
}
.e19_23 { 
	width:464px;
	height:261px;
	position:absolute;
	left:-68px;
	top:64px;
	background-image:url(images/screenshot_2024_07_30_181245_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e19_31 { 
	color:rgba(255, 255, 255, 1);
	width:382px;
	height:225px;
	position:absolute;
	left:-2px;
	top:374px;
	font-family:Karma;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e88_194 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:454px;
	height:40px;
	position:absolute;
	left:-63px;
	top:0px;
	font-family:Inter;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
.e13_17 { 
	width:421px;
	height:40px;
	position:absolute;
	left:1392px;
	top:217px;
}
.e19_22 { 
	width:472px;
	height:264px;
	position:absolute;
	left:-22px;
	top:45px;
	background-image:url(images/screenshot_2024_07_30_180755_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_81 { 
	box-shadow:0px 4px 1.7000000476837158px rgba(0, 0, 0, 0.25);
	color:rgba(254.57500040531158, 251.81250303983688, 255, 1);
	width:421px;
	height:40px;
	position:absolute;
	left:0px;
	top:-15px;
	font-family:Inter;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
.e19_30 { 
	color:rgba(255, 255, 255, 1);
	width:382px;
	height:225px;
	position:absolute;
	left:19px;
	top:364px;
	font-family:Karma;
	text-align:center;
	font-size:Symbol(figma.mixed)px;
	letter-spacing:0;
}
.e55_113 { 
	background-color:rgba(3.1875000474974513, 3.1875000474974513, 3.1875000474974513, 1);
	width:42px;
	height:52px;
	position:absolute;
	left:1802px;
	top:28px;
}
.e55_114 { 
	background-color:rgba(255, 255, 255, 1);
	width:42px;
	height:10px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e55_115 { 
	background-color:rgba(255, 255, 255, 1);
	width:42px;
	height:10px;
	position:absolute;
	left:0px;
	top:11px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e55_116 { 
	background-color:rgba(255, 255, 255, 1);
	width:42px;
	height:10px;
	position:absolute;
	left:0px;
	top:22px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}

