

.column-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #FFFF;
    padding: 1.5rem 2rem;
}

.column-left h1 {
 margin-bottom: 1rem;
 font-size: 5rem;

}

.column-left p1{
    margin-bottom: 2rem;
    font-size: 1.75rem;
    line-height: 2;
}

.column-left h2{
    margin-bottom: 1rem;
    font-size: 3rem;

}

.column-left ul.a{
    list-style-position: outside;
}

.column-left li{
    margin-bottom: 2rem;
    margin-left: 2rem;
    font-size: 1.5rem;
    line-height: 1;
}

.column-left h3{
    margin-bottom: 3rem;
    margin-left: 50rem;
    font-size: 3rem;
}

.jimg{
    margin-top: -2.5rem;
    margin-left: 27rem;
    width: 212px;
    height: 212px;
}

.cimg{
    margin-top: -13rem;
    margin-left: 42rem;
    width: 212px;
    height: 212px;
}

.rimg{
    margin-top: -13rem;
    margin-left: 57rem;
    width: 212px;
    height: 212px;
}

.jsimg{
    margin-top: -13rem;
    margin-left: 72rem;
    width: 212px;
    height: 212px;
}

.column-right{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-start;
    color: #000;
    padding: 1.5rem 2rem;
}

.me-img{
    margin-top: 12rem;
    margin-left: -41.5rem;
    width:300px;
    height: 366px;
}


